body {
background: #FFFFFF; 
}

#wrap { 
	
	width:1200px; 
	margin:0 auto 0 auto; 
	overflow:hidden;
	border: 1px inset #ddd;
  	border-bottom: 1px inset #eee;
  	padding: 4px 4px;
  	background-color: #fff;
  	border-radius:15px;
  	box-shadow: inset 0 1.5px 4px #ccc;
	font-family: Arial, Helvetica, sans-serif;
	}

#raised{
	  border: 1px outset #eee; 
  		border-radius:15px;
  		background-color: #ffffff;
  		box-shadow: 0 0 8px #fff;
  		overflow:hidden;
	}

#innerwrap{
	width:1100px; 
	margin:0 auto; 
	text-align:center;
	font-size:20px;
	padding-top:10px;
}

#innerwrap2{
	width:2000px;
	margin:0 auto;
	font-size:15px;
	text-align:center;
	padding-bottom:40px;
}

#header {
    width: 1200px;
    margin: 0 auto;
    font-size:40px;
}		
	
#banner {
	height:322px; 
	width:1190px; 
	padding:0px 0px 3px 3px;

}

table.center{
bording-spacing:10px;
border-collapse: separate;
margin-left:auto; 
margin-right:auto;

}
td {
padding:10px;
}


div.group{
padding-right:80px;
}

nav ul
{
list-style-type:none;
margin:0px;
padding:3px;
overflow:hidden;
}
nav li
{
float:left;
}
nav a:link, nav a:visited
{
display:block;
width:238px;
color:#FFFFFF;
font-weight:bold;
background: #000000;
text-align:center;
padding:20px 0px 20px 0px;
text-decoration:none;
}
nav a:hover
{
text-decoration:underline;	
display:block;
width:238px;
color:#000000;
font-weight:bold;
background: #FFFFFF;
text-align:center;
padding:20px 0px 20px 0px;
}
nav a:active
{
text-decoration:underline;
display:block;
width:238px;
background: #FFFFFF
padding:20px 0px 20px 0px;
box-shadow: 0 0 1px #000;
}

nav li:first-child a {
  border-top-left-radius: 10px;
}

nav li:last-child a {
  border-top-right-radius: 10px;
}
	
